* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aboreto', system-ui;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-size: 12px;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
}

.header img {
  width: 100px;
}

.header .mobile {
  display: none;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.3s ease;
}

.close {
  display: none;
}

.navbar li a:hover {
  color: #61777f;
}

.navbar li a:hover::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #61777f;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.main {
  background-image: url('image/joanna-kosinska-3BgkveM3y_k-unsplash\ \(1\).jpg');
  height: 100vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main h4 {
  padding-bottom: 15px;
}

.main button {
  background-color: rgba(97, 119, 127, 0.25);
  color: #000000;
  border: none;
  border-radius: 25px;
  padding: 14px 60px 14px 60px;
  cursor: pointer;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 15px;
}

.main button:hover {
  background-color: #61777f;
  color: #000000;
  transition: 0.3s ease;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-image: url(image/jess-bailey-f94JPVrDbnY-unsplash.jpg);
  background-position: top 25% left 60%;
  padding: 85px 80px;
}

.feature .box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px #61777f;
  border: 1px solid white;
  border-radius: 5px;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.feature .box:hover {
  transform: scale(1.05);
  backdrop-filter: blur(8px);
}

.feature .box a {
  text-decoration: none;
}

.feature .box img {
  width: 100%;
  margin-bottom: 10px;
}

.feature .box h6 {
  line-height: 1;
  border-radius: 5px;
  color: black;
}

.products {
  text-align: center;
  background-color: #d2d6dc;
  padding: 85px 0 85px 0;
}

.products .box {
  padding: 10px 80px;
}

.products .container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

.products a {
  text-decoration: none;
}

.products .card {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 5px solid #61777f;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
  margin: 15px 0;
  transition: 0.3s ease;
}

.products .card:hover {
  transform: scale(1.05);
}

.products .card img {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #61777f;
}

.products .card .desc {
  text-align: start;
  padding: 10px 0;
}

.products .card .desc h5 {
  padding-top: 7px;
  color: #000000;
  font-size: 14px;
}

.products .card .desc i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

.products .card .desc h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #61777f;
}

.footer {
  padding: 85px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.footer .logo {
  margin-bottom: 30px;
}

.footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

.footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

.footer a {
  font-size: 13px;
  text-decoration: none;
  color: #61777f;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.footer a:hover {
  color: #000000;
}

.footer .social {
  margin-top: 20px;
}

.footer .social i {
  color: #61777f;
  padding-right: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}

.footer .social .fa-facebook-square:hover {
  color: #3b5998;
}

.footer .social .fa-twitter:hover {
  color: #1da1f2;
}

.footer .social .fa-instagram:hover {
  color: #c13584;
}

.footer .app .row img {
  border: 1px solid #61777f;
  border-radius: 6px;
}

.footer .app img {
  margin: 10px 0 15px 0;
}

@media (max-width: 820px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.06);
    transition: top 0.5s, opacity 0.3s;
  }

  .header.hidden {
    top: -100px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #d2d6dc;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  .navbar.active {
    right: -175px;
  }

  .navbar li {
    margin-bottom: 25px;
  }

  .header .mobile {
    display: flex;
    align-items: center;
  }

  .header .mobile i {
    color: #000000;
    font-size: 24px;
    padding-left: 20px;
  }

  .header .close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #000000;
    font-size: 24px;
  }

  .main {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  .feature {
    justify-content: center;
    padding: 40px 40px;
  }

  .feature .box {
    margin: 15px 15px;
  }

  .products .container {
    justify-content: center;
  }

  .products .card {
    margin: 15px;
  }
}

@media (max-width: 477px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.06);
    transition: top 0.5s, opacity 0.3s;
    padding: 10px 30px;
  }

  .header.hidden {
    top: -100px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  .main {
    height: 90vh;
    padding: 0 20px;
    background-position: 30%;
  }

  .feature {
    justify-content: center;
  }

  .feature .box {
    width: 155px;
    margin: 6px;
  }

  .products .card {
    width: 100%;
  }
}

@media (max-width: 1080px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.06);
    transition: top 0.5s, opacity 0.3s;
  }

  .header.hidden {
    top: -100px;
  }

  .main {
    background-position: 80%;
  }

  .products .container {
    justify-content: center;
  }

  .products .card {
    margin: 15px;
  }
}
